.table-cell,
.header-cell {
  min-height: 24px;

  &:not(:last-of-type) {
    border-right: 1px solid var(--mantine-color-default-border);
  }
}

.header-cell,
.table-cell,
.checkbox-cell {
  display: flex;
  align-items: center;
}

.header-cell {
  padding: 0 6px;
}

.table-cell {
  justify-content: space-between;
  max-height: 24px;
  width: 100%;

  .label,
  .value {
    padding: 6px;
  }

  &.align-center {
    justify-content: center;

    .label,
    .value {
      text-align: center;
    }
  }

  &.align-right {
    justify-content: flex-end;

    .label,
    .value {
      text-align: right;
    }
  }
}

.checkbox-cell {
  text-align: center;
  justify-content: center;
}

//action cell
.cell-action {
  &:disabled {
    opacity: 1;
    color: inherit;
    background: transparent;
    cursor: text;
    user-select: all;
  }

  &:not(:disabled) {
    &,
    &:hover {
      background: transparent;
      color: var(--mantine-color-anchor);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
