@container table-container (max-width: 768px) {
  .table-section.head {
    display: none;
  }

  .table-row {
    display: flex;
    flex-direction: column;
  }

  .table-cell {
    border-bottom: 1px dotted var(--mantine-color-default-border);
  }

  .table-cell .label {
    display: inline-flex;
  }

  .table .table-cell {
    border-right: none;

    &.align-center,
    &.align-right {
      width: 100%;
      text-align: left;
      justify-content: space-between;
    }
  }

  .table .checkbox-cell {
    width: 100%;
    text-align: left;
    justify-content: flex-start;
    padding: 6px;
  }
}
