.table-wrapper {
  container-name: table-container;
  container-type: inline-size;
  font-size: 0.8rem;
  height: calc(100svh - 96px);
  overflow: hidden;
  margin-top: 48px;
}

.table-toolbar {
  height: 48px;
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  z-index: 1;
  background: var(--mantine-color-body);
  border-bottom: 1px solid var(--mantine-color-default-border);
}

.table-wrapper > .table {
  width: 100%;
  height: 100%;
  max-width: 100svw;
  overflow-x: hidden;
}

.table-cell .label {
  display: none;
}

.table-section {
  border-bottom: 1px solid var(--mantine-color-default-border);
}
