.card-grid {
  position: relative;
  border: 1px solid transparent;
  display: grid;
  gap: 24px;
  padding: 24px;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

// medium screens
@media screen and (min-width: 660px) {
  .card-grid {
    &.breakdown-cards {
      grid-template-columns: 1fr 280px;
      grid-template-rows: auto auto;

      .mantine-Card-root {
        grid-column: 2;
      }

      .mantine-Card-root:first-of-type {
        grid-column: 1;
        grid-row: span 2;
        align-self: start;
      }
    }
  }
}

// large screens
@media screen and (min-width: 960px) {
  .card-grid {
    &.breakdown-cards {
      grid-template-columns: 1fr 360px;
    }
  }
}

// x-large screens
@media screen and (min-width: 1080px) {
  .card-grid {
    &.breakdown-cards {
      grid-template-columns: 1fr 480px;
    }
  }
}
